<h2><%=session[:name] %>You can now play here</h2>
<h3>Your pocket is <%= POCKET %></h3>
<h3>Your bet is :<%=session[:bet] %></h3>

<div class = "row">
  <div class= " well col-md-6">

  </div>
  <div class= " well col-md-6">
  </div>
</div>