<div class = "front">
	<div class= "aa"></div>
  <div class = "well1">
	 <h1 class="st"> Welcome to Blackjack web app!</h1>

     <h3 class="st">Please enter your name to play the game</h3>
  </div>


  <form action = "/name" method = "post" class="well1 ">

    <div class="form-group " >
      <label for="name">Name:</label>
      <input type="text" class="form-control" name= "name">
    </div>
   
    <button type="submit" class="btn btn- success">Submit</button>
  </form>
  <div class= "aa"></div>
</div>
