<div class = "well">
	<h1> Welcome to Blackjack web app!</h1>

<h3>Please enter your name to play the game</h3>
</div>

<div class = "well">
<form action = "" method = "post" class="  ">

  <div class="form-group " >
    <label for="name">Name:</label>
    <input type="email" class="form-control" name="name">
  </div>
   
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
